*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
table{
    margin: 5px;
}
td,th{
    border: 1px solid black;
    padding: 8px;
}